.container{
     width: 200px; 
     height: auto; 
     border: 1px solid rgb(87, 87, 87);; 
     border-radius: 5px;
     margin: 10px auto;
     background-color: rgba(238, 235, 235, 0.74);
     box-shadow: 3px 3px 10px 0px  gray;
}
.screen{
     margin: 20px 10px 10px 15px;
     width: 80%;
     height: 40px;
     text-align: right;
     background-color: rgb(173, 169, 169);

     font-size: 24px;
     border-radius: 10px;
     box-shadow: 1px 1px 5px black inset;
}

.button{
     width: 90%; 
     height: auto;
     margin: 10px auto; 
    
}

.button button{
     margin-top:3px;
     width: 40px; 
     height: 40px;
     background-color:rgb(43, 39, 39);
     color: whitesmoke;
     border-radius: 5px;
     font-size: 16px;
     box-shadow: inset 1px 1px 1px 1px rgb(156, 156, 156);

}
button:nth-child(1){
     background-color: orangered;
}
button:last-child{
     width:83px;
     background-color: rgb(59, 59, 161);
     margin-left: 2px;
     
}